---
layout: layout.njk
---
<div class="wrap">
    <h1>indiekit + eleventy</h1>
    {% include "_partials/h-card.njk" %}
    <p>
        hello. This is an Eleventy-based blog using Indiekit's Jekyll plugin...
    </p>
    <hr/>
    <main class="grid">
        {% for item in collections.everything | reverse %}
            {% set date = item.date %}
            {% set url = item.url %}
            {% set content = item.template.frontMatter.content %}
            {% set title = item.template.frontMatter.data.title %}
            {% set bookmarkOf = item.template.frontMatter.data["bookmark-of"] %}
            {% set start = item.template.frontMatter.data.start %}
            {% set end = item.template.frontMatter.data.end %}
            {% set location = item.template.frontMatter.data.location %}
            {% set repostOf = item.template.frontMatter.data["repost-of"] %}
            {% set inReplyTo = item.template.frontMatter.data["in-reply-to"] %}
            {% set rsvp = item.template.frontMatter.data.rsvp %}
            {% set checkin = item.template.frontMatter.data.checkin %}
            {% if checkin !== undefined %}
                {% include "_partials/reusable-checkin.njk" %}
            {% elseif inReplyTo !== undefined %}
                {% include "_partials/reusable-reply.njk" %}
            {% elseif repostOf !== undefined %}
                {% include "_partials/reusable-repost.njk"%}
            {% elseif bookmarkOf !== undefined %}
                {% if title !== "indiekit-eleventy.rich-text.net" %}
                    {% include "_partials/reusable-bookmark.njk"%}
                {% else %}
                    {% include "_partials/reusable-like.njk" %}
                {% endif %}
            {% elseif start !== undefined %}
                {% include "_partials/reusable-event.njk" %}
            {% elseif title === "indiekit-eleventy.rich-text.net" %}
                {% include "_partials/reusable-note.njk" %}
            {% else %}
                {% include "_partials/reusable-article.njk" %}
            {% endif %}
        {% endfor %}
    </main>
</div>