---
layout: layout.njk
---
<div class="wrap">
    <h1 class="visually-hidden">indiekit + eleventy</h1>
    <section>
        hello. I don't know what to put here until I get some content via indiekit's Jekyll plugin...
    </section>
</div>