<div class="u-author h-card visually-hidden">
    <span class="p-name">R.L. Brown</span>
    <span class="p-given-name">Rich</span>
    <span class="p-family-name">Brown</span>,
    <span class="p-nickname">shoesNsocks</span>
    (IRC)
    <div class="p-org">Pineandvine</div>
    <img class="u-photo" src="http://www.porknachos.com/files/naviavi.jpg"/>
    <a class="u-url" href="http://www.rich-text.net">w</a>,
    <a class="u-email" href="mailto:rich@pineandvine.com">e</a>
    <span class="p-locality">Tallahassee</span>,
    <abbr class="p-region" title="Florida">FL</abbr>,
    <span class="p-postal-code">32311</span>
    <div class="p-country-name">U.S.A</div>
    <div class="p-category">generalist</div>
</div>