<article class="post-type-bookmark h-entry item--contained {% if hideLink === true %}item--alone{% endif %}">
    {% if bookmarkOf === undefined %}
        {% set bookmarkOf = "bookmark-of" | getVarFromString() %}
    {% endif %}
    <p>Bookmarked:
        <a class="u-bookmark-of" href="{{ bookmarkOf }}">{{ title }}</a>
    </p>
    <p class="e-content">
        {{ content | safe }}
    </p>
    {% include "_partials/h-card.njk" %}
    <a href="{{ url }}" class="u-url permalink">
        <time class="dt-published">{{ date | simpleDate }}</time>
    </a>
</article>