<article class="post-type-note h-entry item--contained {% if hideLink === true %}item--alone{% endif %}">
    <p class="e-content">
        {{ content | safe }}
    </p>
    {% include "_partials/h-card.njk" %}
    {% include "_partials/permalink.njk" %}
</article>