<article class="post-type-event h-event item--contained {% if hideLink === true %}item--alone{% endif %}">
    <h1>
        <a href="{{ url }}" class="u-url p-name">{{ title }}</a>
    </h1>
    <p>
        From
        <time class="dt-start" datetime="{{ start }}">{{ start | simpleDate }}</time>
        to
        <time class="dt-end" datetime="{{ end }}">
        {{ end | simpleDate }}
    </time>
    at
    <span class="p-location">
        {# TODO: if you were really using this youd need more robust h-card/location stuff #}
        {{ location.name }}
    </span>
</p>
<p class="e-content">{{ content | safe }}</p>
{% include "_partials/h-card.njk" %}
<a href="{{ url }}" class="permalink u-url">
    <time class="dt-published">{{ date | simpleDate }}</time>
</a>
</article>