<article class="post-type-article h-entry item--contained {% if hideLink === true %}item--alone{% endif %}">
    {% if hideLink === true %}
        <h1 class="p-name">{{ title }}</h1>
    {% else %}
        <a href="{{ url }}">
            <h1 class="p-name">{{ title }}</h1>
        </a>
    {% endif %}
    <time class="dt-published">{{ date | simpleDate }}</time>
    <div class="e-content">
        {{ content | safe }}
    </div>
    {% include "_partials/h-card.njk" %}
</article>