<article class="post-type-bookmark h-entry item--contained {% if hideLink === true %}item--alone{% endif %}">
    {% if hideLink === true %}
        <time class="dt-published">{{ date | simpleDate }}</time>
    {% else %}
        <a href="{{ url }}">
            <time class="dt-published">{{ date | simpleDate }}</time>
        </a>
    {% endif %}
    <p class="p-content">
        {{ content | safe }}
    </p>
    {% if bookmarkOf === undefined %}
        {% set bookmarkOf = "bookmark-of" | getVarFromString() %}
    {% endif %}
    <a href="{{ bookmarkOf }}">{{ title }}</a>
    {% include "_partials/h-card.njk" %}
</article>