<article class="post-type-checkin h-event item--contained {% if hideLink === true %}item--alone{% endif %}">
    <p class="p-name">Checking in at
        <a class="u-checkin" href="https://www.openstreetmap.org/?mlat={{ checkin.latitude }}&mlon={{ checkin.longitude }}#map=15/{{ checkin.latitude }}/{{ checkin.longitude }}">
            <span class="p-location">
                <data class="p-latitude" value="{{ checkin.latitude }}"></data>
                <data class="p-longitude" value="{{ checkin.longitude }}"></data>
                {{ checkin.name }}
            </span>
        </a>
    </p>
    <p class="e-content">{{ content | safe }}</p>
    {% include "_partials/h-card.njk" %}
    {% include "_partials/permalink.njk" %}
</article>