<article class="post-type-event h-event item--contained {% if hideLink === true %}item--alone{% endif %}">
    {% if hideLink === true %}
        <a href="{{ url }}" class="u-url visually-hidden">{{ url }}</a>
        <h1 class="p-name">{{ title }}</h1>
    {% else %}
        <a href="{{ url }}" class="u-url">
            <h1 class="p-name">{{ title }}</h1>
        </a>
    {% endif %}
    <p>
        From
        <time class="dt-start" datetime="{{ start }}">{{ start | simpleDate }}</time>
        to
        <time class="dt-end" datetime="{{ end }}">
        {{ end | simpleDate }}
    </time>
    at
    <span class="p-location">{{ location.name }}</span>
</p>
<p class="p-summary">{{ content | safe }}</p>
{% include "_partials/h-card.njk" %}
</article>