<article class="post-type-repost h-entry item--contained {% if hideLink === true %}item--alone{% endif %}">
    {% if repostOf === undefined %}
        {% set repostOf = "repost-of" | getVarFromString() %}
    {% endif %}
    <p>
        Repost:
        <a class="u-repost-of" href="{{ repostOf }}">{{ repostOf }}</a>
    </p>
    {% include "_partials/h-card.njk" %}
    <a href="{{ url }}" class="permalink u-url">
        <time class="dt-published">{{ date | simpleDate }}</time>
    </a>
</article>