<article class="post-type-like h-entry item--contained {% if hideLink === true %}item--alone{% endif %}">
    {# likes come in as bookmark-of via Indiekit/the index page
    distinguishes them by the (lack of) title property in frontmatter #}
    {% if bookmarkOf === undefined %}
        {% set bookmarkOf = "bookmark-of" | getVarFromString() %}
    {% endif %}
    <p class="p-summary">
        Liked:
        <a class="u-like-of" href="{{ bookmarkOf }}">{{ bookmarkOf }}</a>
    </p>
    {% include "_partials/h-card.njk" %}
    {% include "_partials/permalink.njk" %}
</article>