<article class="post-type-note h-entry item--contained {% if hideLink === true %}item--alone{% endif %}">
    <p class="p-content">
        {{ content | safe }}
    </p>
    {% include "_partials/h-card.njk" %}
    <a href="{{ url }}" class="permalink u-url">
        <time class="dt-published">{{ date | simpleDate }}</time>
    </a>
</article>