<form class="webmention-form" action="https://webmention.io/indiekit-eleventy.rich-text.net/webmention" method="post">
    <label>Have your own
        <a href="https://indieweb.org/responses">response</a>? What's the URL?</label>
    <br>
    <input type="url" name="source">
    <label>&nbsp;</label>
    <input type="submit" value="Send Webmention">
    <input type="hidden" name="target" value="https://indiekit-eleventy.rich-text.net{{ page.url }}">
</form>