<form class="webmention-form" action="https://webmention.io/indiekit-eleventy.rich-text.net/webmention" method="post">
    <p>Have your own
        <a href="https://indieweb.org/responses">response</a>? What's the URL?
    </p>
    <label for="source" class="visually-hidden">
        URL of response:
    </label>
    <input id="wm-input" type="url" name="source">
    <label for="submit" class="visually-hidden">
        Send button:
    </label>
    <input id="wm-submit" type="submit" value="Send Webmention">
    <input type="hidden" name="target" value="https://indiekit-eleventy.rich-text.net{{ page.url }}">
</form>