html {
  font-size: 16px;
}

body,
div,
p,
hr {
  padding: 0;
  margin: 0;
}

:root {
  --font: 400 16px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --blue: #349;
  --white: #fff;
  --black: #2d2d2d;
  --grey: #888;
  --theme: rgb(42, 55, 83);
  --maxwidth: 400px;
}

body {
  background: var(--white);
  font: var(--font);
  line-height: 1.4;
}
p,
ul,
ol {
  max-width: 100%;
  font: var(--font);
  line-height: 1.625;
}
p,
li {
  color: var(--black);
}
p {
  margin: 0.5rem 0;
}
ul {
  text-align: justify;
}

blockquote {
  border-left: 4px solid var(--black);
  padding-left: 0.5rem;
}
img,
iframe {
  max-width: 100%;
}

.wrap {
  max-width: 800px;
  border-left: 1px solid var(--black);
  margin: auto;
  padding: 1rem;
}

.single-item-wrapper {
  width: 100%;
  min-height: 100vh;
}

/* via Ian Gloude https://codepen.io/igloude/pen/pPVPxP?editors=0100 */
.grid {
  display: grid;
  grid-template-columns:
    [viewport-start] minmax(1em, 1fr)
    [container-start] minmax(0, 30em)
    [container-end] minmax(1em, 1fr) [viewport-end];
  grid-auto-rows: min-content;
}

.item--contained {
  grid-column: container;
  margin-top: 1rem;
}
.item--alone {
  margin-top: 10rem;
}

.item--full {
  grid-column: viewport;
  display: inherit;
  grid-template-columns: inherit;
}
.item--full > * {
  grid-column: container;
}

.article {
  width: 100%;
  max-width: var(--maxwidth);
}
.article__note {
}

.visually-hidden {
  opacity: 0;
}
